<header><h2></h2></header>
<article>
  <section>
    <h3>User Results</h3>
    <app-user-view></app-user-view>
  </section>
  <section>
    <h3>User Edit Form</h3>
    <app-user-form></app-user-form>
  </section>

</article>