<!--The content below is only a placeholder and can be replaced.-->
<h1><img style="float: right;" src="../assets/citigrouplogo.jpg" height="80px" >{{title}}</h1>
<trader-toolbar></trader-toolbar>
<hr width="100%" />
<trader-table></trader-table>

<router-outlet></router-outlet>
