<div class="t-modal" >
  <div class="t-modal-body" >
    <h2>Analysis of Trading History</h2>
    <p>Here is your actual strategy, alongside the three highest-performing alternatives:</p>
    <div style="width: 480px !important;" >
      <canvas id="chart" ></canvas>
    </div>
    <p>Here is a comparison of your algorithm's performance and that of the best alternative:</p>
    <table *ngIf="analysis != null" >
      <thead>
        <tr>
          <th></th>
          <th class="right" >Your trader</th>
          <th class="right" >Best alternative</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [ngClass]="{
              'oddLoser': trader.lengthShort != analysis.winner.lengthShort
            }"
        >
          <td>Short window (seconds)</td>
          <td class="right" >{{trader.lengthShort / 1000}}</td>
          <td class="right" >{{analysis.winner.lengthShort / 1000}}</td>
        </tr>
        <tr
          [ngClass]="{
              'oddLoser': trader.lengthLong != analysis.winner.lengthLong
            }"
        >
          <td>Long window (seconds)</td>
          <td class="right" >{{trader.lengthLong / 1000}}</td>
          <td class="right" >{{analysis.winner.lengthLong / 1000}}</td>
        </tr>
        <tr
          [ngClass]="{
              'oddLoser': trader.exitThreshold != analysis.winner.exitThreshold
            }"
        >
          <td>Exit threshold</td>
          <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
          <td class="right" >{{analysis.winner.exitThreshold | percent:'1.2-2'}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Profit/loss</td>
          <td class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
          <td class="right" >{{analysis.winner.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="t-modal-background" ></div>
