<div class="t-modal" >
  <div class="t-modal-body" >
    <h2 *ngIf="trader" >Trading {{trader.stock}}, maximum trade {{trader.size}} shares</h2>
    <table *ngIf="trader" >
      <thead>
        <tr>
          <th>Position</th>
          <th colspan="2" >Open</th>
          <th class="right" colspan="2" >Close</th>
          <th class="right" class="right" >Profit</th>
          <th class="right" >ROI</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let position of trader.positions; let i = index"
          [ngClass]="{
              'oddWinner': position.profitOrLoss > 0 && i % 2 == 1,
              'evenWinner': position.profitOrLoss > 0 && i % 2 == 0,
              'oddLoser': position.profitOrLoss < 0 && i % 2 == 1,
              'evenLoser': position.profitOrLoss < 0 && i % 2 == 0
            }"
        >
          <td>{{position.openingTrade.buy ? "Long" : "Short"}}</td>
          <td class="right" >{{position.openingTrade.size}} @</td>
          <td class="right narrow" >{{position.openingTrade.price | number:'1.4-4'}}</td>
          <td *ngIf="position.closingTrade" class="right" >{{position.closingTrade.size}} @</td>
          <td *ngIf="position.closingTrade" class="right narrow" >{{position.closingTrade.price | number:'1.4-4'}}</td>
          <td *ngIf="position.closingTrade" class="right wide" >{{position.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
          <td *ngIf="position.closingTrade" class="right" >{{position.roi | percent:'1.4-4'}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5"></td>
          <td *ngIf="traderHasProfit()" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
          <td *ngIf="traderHasProfit()" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="t-modal-background" ></div>
