<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th class="right" >Size</th>
      <th>Parameters</th>
      <th>State</th>
      <th>Details</th>
      <th class="right" >Trades</th>
      <th class="right" >Profit</th>
      <th class="right" >ROI</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trader of traders; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td>{{describe(trader)}}</td>
      <td>
        <input
          id="trader{{i}}"
          class="wide"
          type="button"
          [value]="getState(trader)"
          [disabled]="getState(trader) == 'Stopping'"
          [hidden]="stopCommandGiven(i)"
          (click)="startOrGiveStopCommand($event)" />
        <span [hidden]="!stopCommandGiven(i)" >Stop</span>
        <input
          id="soft{{i}}"
          type="button"
          value="Soon"
          [hidden]="!stopCommandGiven(i)"
          (click)="stop($event, false)" />
        <input
          id="hard{{i}}"
          type="button"
          value="NOW"
          [hidden]="!stopCommandGiven(i)"
          (click)="stop($event, true)" />
      </td>
      <td>
        <input
          id="details{{i}}"
          type="image"
          src="../assets/dotdotdot.png"
          (click)="showDetails($event)" />
        <input
          id="analysis{{i}}"
          type="image"
          src="../assets/thinking.png"
          [disabled]="getState(trader) != 'Stopped'"
          [hidden]="!analysisAvailableFor(trader)"
          (click)="showAnalysis($event)" />
      </td>
      <td class="right indent" >{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
    </tr>
   </tbody>
   <tfoot>
     <tr>
       <td colspan="6" ></td>
       <td class="right indent" >{{getTotalTrades()}}</td>
       <td class="right" >{{getTotalProfit() | currency:'USD':'symbol':'1.2-2'}}</td>
     </tr>
   </tfoot>
</table>
<analysis></analysis>
<positions></positions>
