<div>
  <span>Type:</span>
  <select [(ngModel)]="type" >
    <option value="2MA" >Two moving averages</option>
    <option value="BB" >Bollinger bands</option>
  </select>
  <span>Stock:</span>
  <input type="text" [(ngModel)]="stock" />
  <span>Size:</span>
  <input type="number" step="100" style="width: 56px;" [(ngModel)]="size" />
  <input type="button" value="Create" (click)="create()" />
  <br/>
  <span *ngIf="type == '2MA'" >
    Short length:
    <input type="number" min="15" step="15" [(ngModel)]="twoMALengthShort" />
    Long length:
    <input type="number" min="30" step="15" [(ngModel)]="twoMALengthLong" />
    Exit:
    <input type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold" />%
  </span>
  <span *ngIf="type == 'BB'" >
    Window length:
    <input type="number" min="30" step="15" [(ngModel)]="bbLength" />
    Std-dev multiplier:
    <input type="number" min="0.5" step="0.1" [(ngModel)]="bbEntryThreshold" />
    Exit:
    <input type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold" />%
  </span>
</div>
