<aside>
    <h3>Image Options</h3>
    <div>
        <!-- <pre>--{{this.urlOptions |json}}</pre> -->
        Choose an image source:
        <select [(ngModel)]=sourceURL (change)='checkIfPlaceholder()'>
            <option *ngFor='let item of urlOptions' [value]=item.valueUrl>{{item.optionText}}</option>
        
        </select>
        <span *ngIf='this.sourceURL =="https://via.placeholder.com" '>
            <input type='checkbox' [(ngModel)]=this.options.sameDimensions />same width and height
            <input type='checkbox' [(ngModel)]=this.options.chooseColours />specify colours
            <input type='checkbox' [(ngModel)]=this.options.chooseFormat (change)='checkDefaultFormat()' />choose image
            format (default is png)
            <input type='checkbox' [(ngModel)]=this.options.provideText />provide text
        </span>
    </div>
    <hr />
    <div *ngIf="this.options.sameDimensions as value; else elseBlock">
        <!-- {{value}} -->
        <input type='number' min="16" max="640" step="16" placeholder="width" [(ngModel)]=imageParameters.width />width
        and height<br />
    </div>
    <ng-template #elseBlock>
        <input type='number' min="16" max="640" step="16" placeholder="width" [(ngModel)]=imageParameters.width />width
        <input type='number' min="16" max="640" step="16" placeholder="height"
            [(ngModel)]=imageParameters.height />height<br />
    </ng-template>
    <div *ngIf=this.options.chooseColours>
        <input type='color' [(ngModel)]=imageParameters.bgColour />background colour<br />
        <input type='color' [(ngModel)]=imageParameters.fgColour />foreground colour
    </div>
    <div *ngIf=this.options.chooseFormat>
        <!-- we use label so they can click on the text not just the radio -->
        <input type='radio' name='imageFormat' id='png' value='.png' [(ngModel)]=imageParameters.format />
        <label for="png">PNG</label>
        <input type='radio' name='imageFormat' id='jpg' value='.jpg' [(ngModel)]=imageParameters.format />
        <label for="jpg">JPG</label>
        <input type='radio' name='imageFormat' id='gif' value='.gif' [(ngModel)]=imageParameters.format />
        <label for="gif">GIF</label>
    </div>
    <div *ngIf=this.options.provideText>
        <!-- what if we didn't want to persist text here? -->
        <input type='text' placeholder="text" [(ngModel)]=imageParameters.text />
    </div>
    <br />
    <button (click)=resolveImage()>Go</button>
    <!-- <button>Reset</button> -->
    <hr />
    <img [src]='derivedUrl' [alt]='imageParameters.text' [title]='imageParameters.text' />
    <hr />
    <pre>{{derivedUrl}}</pre>
    <!-- <pre>{{options |json}}</pre> -->
    <!-- <pre>{{imageParameters |json}}</pre> -->

</aside>