<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th class="right" >Size</th>
      <th class="right" >Short</th>
      <th class="right" >Long</th>
      <th class="right" >Exit</th>
      <th>State</th>
      <th class="right" >Trades</th>
      <th class="right" >Profit</th>
      <th class="right" >ROI</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trader of traders; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td class="right" >{{minSec(trader.lengthShort)}}</td>
      <td class="right" >{{minSec(trader.lengthLong)}}</td>
      <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>
        <input
          id="trader{{i}}"
          type="button"
          [value]="getState(trader)"
          [disabled]="getState(trader) == 'Stopping'"
          (click)="startOrStop($event, false)" />
      </td>
      <td class="right indent" >{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
    </tr>
   </tbody>
   <tfoot>
     <tr>
       <td colspan="7" ></td>
       <td class="right indent" >{{getTotalTrades()}}</td>
       <td class="right" >{{getTotalProfit() | currency:'USD':'symbol':'1.2-2'}}</td>
     </tr>
   </tfoot>
</table>
