<div>
  <span>Type:</span>
  <select value="{{type}}" >
    <option value="2MA" >Two moving averages</option>
    <option value="BB" >Bollinger bands</option>
  </select>
  <span>Stock:</span>
  <input type="text" [(ngModel)]="stock" />
  <span>Size:</span>
  <input type="number" step="100" style="width: 56px;" [(ngModel)]="size" />
  <input type="button" value="Create" (click)="create()" />
  <br/>
  <!-- TODO: content here varies by trader type -->
  <span>Short:</span>
  <input type="number" min="15" step="15" [(ngModel)]="lengthShort" />
  <span>Long:</span>
  <input type="number" min="15" step="15" [(ngModel)]="lengthLong" />
  <span>Exit:</span>
  <input type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold" />%
</div>
