<aside>
    <pre>{{combined}}</pre>
        <input #spy='ngModel' required 
            [ngModelOptions]='{updateOn:"blur"}'
            placeholder="type a stock symbol" 
            [(ngModel)]='symbol' /><br/>
        <input type='number' [(ngModel)]='qty'
        min="0" max="100" step="10"/>
        <span [hidden]='spy.valid || spy.pristine'>Symbol is required</span>
        <button [disabled]='spy.invalid'>Go</button>
<p>{{spy.className}}</p>
<p>{{symbol}}{{qty}}</p>

</aside>
