<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink='/' routerLinkActive='home'>Home</a> |
  <a routerLink='/about' routerLinkActive='about'>About</a> |
  <a routerLink='/clock' routerLinkActive='clock'>Clock</a> |
  <a routerLink='/stock' routerLinkActive='stock'>Stock</a> |
  <a routerLink='/stock/42' routerLinkActive='stock'>Stock with param</a>
</nav>
<section>
  <router-outlet></router-outlet>
</section>