<aside>
    <form name='userForm' #userForm='ngForm'>
        <input name='userName' #userName='ngModel' [(ngModel)]='oneUser["name"]' placeholder='User Name' required /><br/>
        <button [disabled]='!userName.valid' (click)='doCommit()'>Commit</button>
    </form>
    <pre>User: {{oneUser |json}}</pre>
</aside>
